APP COMPONENT
<table>
  <tr>
    <td colspan="2">
      <!-- First row -->
      <app-first-row></app-first-row>
    </td>
  </tr>
  <tr>
    <td>
      <!-- first column in the second row -->
      <app-secon-row-first-column></app-secon-row-first-column>
    </td>
    <td>
      <!-- second column in the second row-->
      <app-secon-row-second-column></app-secon-row-second-column>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <!-- third row -->
      <app-third-row></app-third-row>
    </td>
  </tr>

</table>
